@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --honey: #ddc005;
  --thunder: #2e2e2e;

  --background: #ffffff;
  --foreground: var(--thunder);
}

body {
  color: var(--foreground);
  background: var(--background);
}
