@import 'tailwindcss';

@theme {
  --color-honey: #ddc005;
  --color-thunder: #2e2e2e;
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-fredoka: var(--font-fredoka);
  --font-garet: var(--font-garet);
}

:root {
  --honey: #ddc005;
  --thunder: #2e2e2e;

  --background: #ffffff;
  --foreground: var(--thunder);
}

body {
  color: var(--foreground);
  background: var(--background);
}
